{%- assign has_content = false -%}
{%- if block.settings.row_content != blank or block.settings.page.content != blank -%}
  {%- assign has_content = true -%}
{%- endif -%}

{%- if has_content -%}
  <div
    class="accordion{% if section.settings.layout == 'row' %} content-container color-{{ section.settings.container_color_scheme }} gradient{% endif %}"
    {{ block.shopify_attributes }}
  >
    <details
      id="Details-{{ block.id }}-{{ section.id }}"
    >
      <summary id="Summary-{{ block.id }}-{{ section.id }}">
        <h3 class="accordion__title inline-richtext h4">
          {{ block.settings.heading | default: block.settings.page.title | escape }}
        </h3>
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </summary>
      <div
        class="accordion__content rte"
        id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
        role="region"
        aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
      >
        {{ block.settings.row_content }}
        {{ block.settings.page.content }}
      </div>
    </details>
  </div>
{%- endif -%}
