{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline color-{{ section.settings.menu_dropdown_color_scheme }}" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="mega-menu__wrapper page-width">
                  <div class="mega-menu__navigation">
                    <ul
                      class="mega-menu__list{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>

                  {%- comment -%} Featured Content Area {%- endcomment -%}
                  <div class="mega-menu__featured">
                    {%- assign has_featured_content = false -%}

                    {%- comment -%} Check if we have any blocks for this menu item {%- endcomment -%}
                    {%- for block in section.blocks -%}
                      {%- if block.type == 'mega_menu_featured' and block.settings.menu_item == link.handle -%}
                        {%- assign has_featured_content = true -%}
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}

                    {%- if has_featured_content -%}
                      {%- comment -%} Render large blocks first {%- endcomment -%}
                      {%- for block in section.blocks -%}
                        {%- if block.type == 'mega_menu_featured'
                          and block.settings.menu_item == link.handle
                          and block.settings.size == 'large'
                        -%}
                          {%- if block.settings.image != blank -%}
                            <div
                              class="mega-menu__featured-item mega-menu__featured-item--large"
                              {{ block.shopify_attributes }}
                            >
                              {%- if block.settings.link != blank -%}
                                <a href="{{ block.settings.link }}" class="mega-menu__featured-link">
                              {%- endif -%}
                              <img
                                src="{{ block.settings.image | image_url: width: 1200 }}"
                                alt="{{ block.settings.image.alt | escape }}"
                                loading="lazy"
                                width="1200"
                                height="600"
                              >
                              <div class="mega-menu__featured-content">
                                {%- if block.settings.show_video_button -%}
                                  <button class="mega-menu__play-button" aria-label="Play video">
                                    <svg
                                      width="48"
                                      height="48"
                                      viewBox="0 0 48 48"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <circle cx="24" cy="24" r="24" fill="white"/>
                                      <path d="M18 34V14L34 24L18 34Z" fill="black"/>
                                    </svg>
                                  </button>
                                {%- endif -%}
                                <div class="mega-menu__featured-text">
                                  {%- if block.settings.heading != blank -%}
                                    <h3>{{ block.settings.heading }}</h3>
                                  {%- endif -%}
                                  {%- if block.settings.subheading != blank -%}
                                    <p>{{ block.settings.subheading }}</p>
                                  {%- endif -%}
                                </div>
                              </div>
                              {%- if block.settings.link != blank -%}
                                </a>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- comment -%} Check if we have small blocks {%- endcomment -%}
                      {%- assign has_small_blocks = false -%}
                      {%- for block in section.blocks -%}
                        {%- if block.type == 'mega_menu_featured'
                          and block.settings.menu_item == link.handle
                          and block.settings.size == 'small'
                        -%}
                          {%- assign has_small_blocks = true -%}
                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- comment -%} Render small blocks in grid {%- endcomment -%}
                      {%- if has_small_blocks -%}
                        <div class="mega-menu__featured-grid">
                          {%- for block in section.blocks -%}
                            {%- if block.type == 'mega_menu_featured'
                              and block.settings.menu_item == link.handle
                              and block.settings.size == 'small'
                            -%}
                              {%- if block.settings.image != blank -%}
                                <div class="mega-menu__featured-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.link != blank -%}
                                    <a href="{{ block.settings.link }}" class="mega-menu__featured-link">
                                  {%- endif -%}
                                  <img
                                    src="{{ block.settings.image | image_url: width: 600 }}"
                                    alt="{{ block.settings.image.alt | escape }}"
                                    loading="lazy"
                                    width="600"
                                    height="400"
                                  >
                                  <div class="mega-menu__featured-content">
                                    {%- if block.settings.show_video_button -%}
                                      <button class="mega-menu__play-button" aria-label="Play video">
                                        <svg
                                          width="48"
                                          height="48"
                                          viewBox="0 0 48 48"
                                          fill="none"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <circle cx="24" cy="24" r="24" fill="white"/>
                                          <path d="M18 34V14L34 24L18 34Z" fill="black"/>
                                        </svg>
                                      </button>
                                    {%- endif -%}
                                    <div class="mega-menu__featured-text">
                                      {%- if block.settings.heading != blank -%}
                                        <h3>{{ block.settings.heading }}</h3>
                                      {%- endif -%}
                                      {%- if block.settings.subheading != blank -%}
                                        <p>{{ block.settings.subheading }}</p>
                                      {%- endif -%}
                                    </div>
                                  </div>
                                  {%- if block.settings.link != blank -%}
                                    </a>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    {%- else -%}
                      {%- comment -%} Default featured content when no blocks are set {%- endcomment -%}
                      <div class="mega-menu__featured-item mega-menu__featured-item--large">
                        <div class="mega-menu__featured-content">
                          <button class="mega-menu__play-button" aria-label="Play video">
                            <svg
                              width="48"
                              height="48"
                              viewBox="0 0 48 48"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle cx="24" cy="24" r="24" fill="white"/>
                              <path d="M18 34V14L34 24L18 34Z" fill="black"/>
                            </svg>
                          </button>
                          <div class="mega-menu__featured-text">
                            <h3>Steering Re-Engineered</h3>
                            <p>Watch the new video series with our tech team</p>
                          </div>
                        </div>
                      </div>
                      <div class="mega-menu__featured-grid">
                        <div class="mega-menu__featured-item">
                          <div class="mega-menu__featured-content">
                            <div class="mega-menu__featured-text">
                              <h3>Steering Re-Engineered</h3>
                              <p>Watch the new video series with our tech team</p>
                            </div>
                          </div>
                        </div>
                        <div class="mega-menu__featured-item">
                          <div class="mega-menu__featured-content">
                            <div class="mega-menu__featured-text">
                              <h3>Steering Re-Engineered</h3>
                              <p>Watch the new video series with our tech team</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
